<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Manager</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
    $(function () {
      $(".datepicker").datepicker();
    });
  </script>
</head>

<body>
  <section class="hero is-dark is-bold">
    <div class="hero-body">
      <div class="container">
  
<nav class="navbar">
  <div class="navbar-brand">
    <h1 class="navbar-item">
      <a href="/" class="title has-text-light">Task Manager</a>
    </h1>
  </div>
  <div class="navbar-end is-justify-content-flex-end">
    {{#if logged_in}}

<div class="navbar-item" style="flex-grow: 1; justify-content: center; display: flex; align-items: center; ">
  <p class="has-text-centered" style="margin: 0; font-size: 20px; color: #32CD32; font-family: 'Orbitron', sans-serif; text-shadow: 0 0 10px #32CD32, 0 0 20px #32CD32, 0 0 30px #32CD32, 0 0 40px #32CD32;">
    Welcome, <span style="font-weight: bold; color: #00D1B2;">{{username}}</span> 🗒
  </p>
</div>


   <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons has-addons">
          <a href="/" class="button is-medium is-rounded" data-bs-dismiss="modal">Home</a>
          <a id="logout" class="button is-medium is-danger is-dark is-rounded">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>


    {{else}}
    <div class="navbar-item">
       <div class="cntr homeBtns">
    </div>
    {{/if}}
  </div>
</nav>
</nav>

          </div>
        </nav>
      </div>
    </div>
  </section>

  <main class="section">
    <div class="container">
      <div id="taskList"></div>
      {{{ body }}}
    </div>
  </main>

  <footer class="footer">
    <div class="content has-text-centered">
      <p class="has-text-primary">
        Task Manager &copy; 2024. All rights reserved.
      </p>
    </div>
  </footer>

  <script id="task-template" type="text/x-handlebars-template">
<    <!-- Your Handlebars template goes here -->>
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/tasks.js"></script>
  <script src="../../public/css/style.css"></script>

</body>

</html>