 <section class="hero is-danger is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    401 Unauthorized
                </h1>
                <h2 class="subtitle">
                    Sorry, you are not authorized to access this page.  in the meantime , have that will make you feel better:
                    <p>{{ advice }}</p>
                </h2>
            </div>
        </div>
        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        <li><a href="/">Home</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>