<section class="section">
  <div class="container">
    <h1 class="title is-1">404 Not Found</h1>
    <p class="subtitle">But here's something to lighten the mood:</p>
    <p>{{joke}}</p>
    
  </div>
</section>
