
<body>
    {{!-- Navigation links --}}
    <nav>
        <h4>Log in</h4>
        <div class="container mt-4">
    <div class="card" style="width: 18rem;">
        <div class="card-header">Log In</div>
        <div class="card-body">
            <form action="/auth/register" method="POST">
                <div class="mb-3">
                    <label for="name-reg" class="form-label">Usernamne</label>
                    <input type="text" class="form-control" id="name-reg" name="name">
                </div>
                <div class="mb-3">
                    <label for="password-reg" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password-reg" name="password">
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
                    <h1>Or sign in Using </h1>
        <ul>
            <a class="button facebook" href="/login/federated/facebook">Sign in with Facebook</a>
            <a class="button google" href="/login/federated/google">Sign in with Google</a>

        </ul>
    </nav>
    
</body>

<script src="../public/js/login.js"></script>

