

    <nav>
        <h4>Log in</h4>
        <div class="container mt-4">
            <div class="card" style="width: 18rem;">
                <div class="card-header">Log In</div>
                <div class="card-body">
                    <form action="/api/users/login" method="POST">
                        <div class="mb-3">
                            <label for="email-login" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email-login" name="email">
                        </div>
                        <div class="mb-3">
                            <label for="password-login" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password-login" name="password" autocomplete="current-password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <ul>
            <P>Click register if you don't have an account.</P>
            <li><a href="/register">Register</a></li>
        </ul>
        <h1>Or sign in Using </h1>
        <ul>
            <a class="button google" href="/login/federated/google">Sign in with Google</a>
        </ul>
    </nav>
    
    <script src="/public/js/login.js"></script>

</html>
