<nav>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6">
                    <div class="card" style="background-color:hsla(0, 0%, 13%, 1)">
                        <header class="card-header">
                            <p class="card-header-title is-centered has-text-centered">
                                Log In
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <div class="has-text-centered">
                                    <form action="/api/users/login" method="POST">
                                        <div class="field">
                                            <label class="label" for="email">Email</label>
                                            <div class="control">
                                                <input class="input" type="email" id="email" name="email" required>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="label" for="password">Password</label>
                                            <div class="control">
                                                <input class="input" type="password" id="password" name="password"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="field is-grouped">
                                            <p class="control">
                                                <button class="button is-primary is-normal is-rounded"
                                                    style=" background-color: #296fa8;" type="submit">Submit</button>
                                            </p>
                                            <p class="control">
                                                <button class="button is-primary is-normal is-rounded"
                                                    style=" background-color: #296fa8;"
                                                    onclick="window.location.href='register'">Sign Up</button>
                                            </p>
                                        </div>
                                        <p style="color: white;">Or sign in using:</p>


                                        <button class="button is-info is-large is-size-3 is-rounded rainbow-effect">
                                            <img src="https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg"
                                                alt="Google Icon">
                                        </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</nav>